<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> id : <%= heroes_ol[0].id %></p>
    <p> Nombre : <%= heroes_ol[0].nombre %></p>
    <p> Profesion : <%= heroes_ol[0].profesion %></p>
    <p> Pais : <%= heroes_ol[0].pais %></p>
    <p> Reseña : <%= heroes_ol[0].resenia %></p>
  </body>
</html>