<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> id : <%= heroes_ol.id %></p>
    <p> Nombre : <%= heroes_ol.nombre %></p>
    <p> Profesion : <%= heroes_ol.profesion %></p>
    <p> Pais : <%= heroes_ol.pais %></p>
    <p> Reseña : <%= heroes_ol.resenia %></p>
  </body>
</html>